@{
  Layout = "_Layout";
}

<h1>University Registrar</h1>
<hr/>
<div class="container">
  <h4>@Html.ActionLink("View Students", "Index", "Students")</h4>
  <h4>@Html.ActionLink("View Courses", "Index", "Courses")</h4>
  <h4>@Html.ActionLink("View Departments", "Index", "Departments")</h4>
</div>