@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)
  @Html.Label("Select course")
  @Html.DropDownList("CourseId")
  <input type="submit" value="save" />
}

<div class="container">
  <h5>@Html.ActionLink("Back to students", "Index")</h5>
</div>