@{
  Layout = "_Layout";
}

<h1>Students</h1>
<hr /> 

@using UniversityRegistrar.Models;

<div class="container">
  <ul>
    @foreach (Student student in Model)
    {
      <li><h4>@Html.ActionLink($"{student.Name}", "Details", new { id = student.StudentId })</h4></li>
    }
  </ul>
</div>

<div class="container">
  <h5>@Html.ActionLink("Add New Student", "Create")</h5>
  <h5>@Html.ActionLink("Home", "Index", "Home")</h5>
</div>
