@{
  Layout = "_Layout";
}

<h2>Students</h2>
<hr /> 

@using UniversityRegistrar.Models;

<div class="container">
  <ul>
    @foreach (Student student in Model)
    {
      <li>@Html.ActionLink($"{student.Name}", "Details", new { id = student.StudentId })</li>
    }
  </ul>
</div>

<div class="container">
  <p>@Html.ActionLink("Add New Student", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
