@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h1>Department Info:</h1>
<hr />
<h2>@Html.DisplayFor(model => model.Name)</h2>


<h5>Students:</h5>
@if(Model.Students.Count == 0)
{
  <p>This department currently has no students enrolled.</p>
}
<ul>
@foreach(Student student in Model.Students)
{
  <li>@student.Name</li>
}
</ul>
<h5>Courses:</h5>
@if (Model.Courses.Count == 0)
{
  <p>This department currently has no classes.</p>
}
<ul>
@foreach(Course course in Model.Courses)
{
  <li>@course.CourseName</li>
}
</ul>

<br/>
<div class="container">
  <h5>@Html.ActionLink("Back to Departments", "Index")</h5>
</div>