@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>
<h3>@Html.DisplayNameFor(model => model.CourseNumber): @Html.DisplayFor(model => model.CourseNumber)</h3>

